/*integrated */

h1{
    text-align: center;
}

body {
    background-color: moccasin;
    margin: 0px;
}

main{
    margin:25px;
}

th{
    font-size:20px;
}

/*my classes */

.navbar ul{
    list-style-type: none;
    background-color: rgb(196, 131, 85);
    padding:0px;
    margin:0px;
    overflow:hidden;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:rgb(129, 87, 58);
}
.navbar li{
    float:left
}

.base{
    font-family:'Times New Roman', Times, serif;
    color:brown
}

.base p{
    font-size: 15px;
}

.table-box{
    padding: 3px;
    border: 5px solid rgb(196, 131, 85);
    margin: 10px;

    width: 200px;
    height: 100px;
}
.image-layout{
    width: 400px;
    height: 200px;
    border: 10px solid rgb(196, 131, 85);
}

/*my ids */
#my-info{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
    color:moccasin;
    background-color: brown;
}

