.gallery {
    display: inline-block;
    margin: 5px;
    width: 200px;
    border-radius: 8px;
    flex-wrap: wrap;
    transition: 0.3s ease-in;
    transform: scale(1, 1);
    background-color:rgb(255, 255, 188);
}


.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    transition: 0.3s ease-out;
    transform: scale(1.1, 1.1);
}

.gallery img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

a{
    font-family:"Oswald", sans-serif;
    text-decoration: none;
    font-weight: bold;
    color:darkgray;
}